/* Variables */

$color-main: #fb9e00;
$color-light: #ffffff;
$color-grass: #059e7f;
$color-basket: #9e4134;
$color-icons-bg: #dfe6e9;
$color-icons-inactive: #484848;
$color-footer: #969696;

$font-main: 'Comfortaa', cursive;
$font-title: 'Lobster', cursive;
$font-wicked: 'Architects Daughter', cursive;

$transition: 1s all;

$border-default: 2px solid $color-main;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: $color-light;
    font-family: $font-main;
}

section {
    max-width: 1140px;
    margin: 0 auto 72px;   
}

.section-grey {
    max-width: 100%;
    position: relative;
    
        &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        overflow: hidden;
        background: rgba(0,0,0,0.05);
        z-index: -1;
        transform: translateX(-50%);
    }
}

h1 {
    font-size: 72px;
    font-family: $font-title;
    color: $color-main;
}

h2 {
    font-family: $font-main;
    font-size: 48px;
    font-weight: 300;
    position: relative;
            
        &::after {
            position: absolute;
            content: '';
            bottom: -24px;
            left: 50%;
            width: 40px;
            height: 8px;
            background: $color-main;
            transform: translateX(-50%);
            z-index: 2;
            display: none;
        }
}

.btn {
    width: 140px;
    height: 40px;
    background: $color-main;
    font-family: $font-main;
    border: none;
    color: $color-light;
    border-radius: 30px;
    transition: $transition;
    
    &:hover {
        background: $color-grass;
        color: $color-basket;
        cursor: pointer;
    }
}
            
/* Splash */

.splash {
    max-width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1198174/pexels-photo-1198174.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    
    .navigation {
    display: flex;
    flex-direction: row;
    
        .logo {
            flex: 3;
            margin: auto;
            
            h2 {
                font-size: 1rem;
                font-family: $font-title;
                span:nth-of-type(1) {
                    color: $color-basket;
                }
                span:nth-of-type(2) {
                    color: $color-main;
                }
                span:nth-of-type(3) {
                    color: $color-grass;
                }
            }
        }
    
        nav {
            flex: 7;
        
            .links {
                list-style-type: none;
                margin: 1rem;
                
                li {
                    font-size: 14px;
                    display: inline-block;
                    padding-left: .5rem;
                    padding-right: .5rem;

                    &:hover {
                        a {color: $color-grass;}
                    }
                
                    a {
                        color: $color-main;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .splash-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        display: flex;
            
        h2 {
            font-size: 24px;
            color: $color-grass;
        }
            
        .btn-splash {
            background: rgba(0,0,0,0);
            border: $border-default;
                
            &:hover {
                background: $color-main;
                color: $color-light;
            }
        }
    }        
}

/* About us */

.about {
    display: flex;
    flex-direction: column;
    
    .about-title {
        padding-bottom: 96px;
        
        h2::after {
            display: block;
        }
    }
    
    .about-features {
        display: flex;
        flex-direction: row;
        
        .feature-element {
            flex: 25%;
            
            i {
                font-size: 36px;
                color: $color-icons-inactive;
                height: 150px;
                line-height: 150px;
                width: 150px;
                margin: 0;
                background: $color-icons-bg;
                border-radius: 50%;
                text-align: center;
                margin: auto;
                transition: $transition;
                
                &:hover {
                    color: $color-light;
                    background: $color-main;
                }
            }
            
            h3 {
                padding-top: 36px;
            }
            
            p {
                margin: 0 16px;
                padding-bottom: 36px;
            }
        }
    }
            
    .btn {
        margin: 0 auto;
    }
}

/* Tiles */

.section-grey.half {
    
    &::after{
    height: 50%;
    }
}

.tiles {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
    .tile {
        flex: 50%;
            
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .info {
        margin: 40px 0;
        text-align: left;
        padding: 0 40px;
        
        h2 {
            margin-top: 0;
        }
            
        p {
            padding-bottom: 30px;
        }
        
        .btn {
            margin-top: auto;
        }
    }
    
    .tile:nth-of-type(1) {
        order: 1;
    }
    .tile:nth-of-type(2) {
        order: 2;
    }
    .tile:nth-of-type(3) {
        order: 4;
    }
    .tile:nth-of-type(4) {
        order: 3;
    }
}

/* Motto */

.motto {
    height: 500px;
    max-width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1611153662015-c64eefbcc5eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0 auto;
    
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
    }
    
    .motto-inner {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    
        img {
            border-radius: 50%;
            object-fit: cover;
            width: 70px;
            height: 70px;
        }
        
        h3 {
            color: $color-light;
            font-weight: 300;
            font-size: 24px;
            
            span {
                color: $color-grass;
            }
        }
        
        p {
            color: $color-icons-bg;
            font-weight: 300;
            
            span {
                font-weight: bold;
            }
        }
    }
}

/* Services */

.section-grey::after {
    height: 100%;
}

.services {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    max-width: 1140px;
    margin: 0 auto;
    
    .services-title {
        padding-bottom: 96px;
                
        h2::after {
            display: block;
        }

    }
    
    .service-tiles {
        display: flex;
        flex-wrap: wrap;
        
        .service-tile {
            flex: 50%;
            
            i {
                font-size: 40px;
                line-height: 80px;
                height: 80px;
                width: 80px;
                text-align: center;
                border-radius: 50%;
                background: $color-light;
                color: $color-main;
                display: inline-block;
                margin: 0 15px;
            }
            
            h2 {
                display: inline-block;
                text-align: left;
                width: calc(100% - 120px);
            }
            
            p {
                margin-left: 120px;
                text-align: left;
                line-height: 2rem;
            }
        }
    }
}

/* Team */

.team {
    max-width: 100%;
    margin-bottom: 0;
    
    .team-title {
        
        h2::after {
            display: block;
        }
    }
    
    .team-tiles {
        display: flex;
        flex-wrap: wrap;
        height: calc(100vw / 2.5);
        margin-top: 96px;
        
        .team-tile {
            flex: 20%;
            height: 50%;
            position: relative;
            
            p {
                position: absolute;
                line-height: calc(100vw / 5);
                margin: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(251, 161, 8,0);
                font-size: 24px;
                color: rgba(255,255,255,0);
                font-weight: bold;
                transition: $transition;
            }
            
            &:hover p {
                background: rgba(251, 161, 8,0.7);
                color: $color-light;
            }
            
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

/* Pricing */

.pricing {
    max-width: 1140px;
    margin: 0 auto;
    padding: 96px 0;
    
    .pricing-title {
        
        h2::after {
            display: block;
        }
    }
    
    .price-row {
        display: flex;
        justify-content: space-between;
        
        .price-card {
            flex: 20%;
            display: flex;
            flex-direction: column;
            min-height: 400px;
            text-align: left;
            background: $color-light;
            border: solid 2px rgba(0,0,0,0.1);
            position: relative;
            margin: 36px 10px;
            
            h3 {
                color: $color-main;
                font-size: 48px;
                padding-bottom: 8px;
                padding: 25px;
                margin-bottom: 0;
            }
            
            p {
                opacity: 0.3;
                margin: 0;
                padding: 0 25px 36px;
            }
            
            article {
                margin: 0;
                border-top: solid 1px rgba(0,0,0,0.1);
                line-height: 2rem;
                padding: 36px 25px;
            }
            
            .btn-buy {
                position: absolute;
                width: 100%;
                height: 60px;
                bottom: -60px;
                line-height: 60px;
                left: 0;
                border-radius: 0;
                letter-spacing: 2px;
                text-align: left;
                
                i {
                    display: inline-block;
                    margin-left: auto;
                }
            }
                
            
            
               
        }
    }
}

/* World */

.map {
    display: flex;


    .map-info {
        flex: 50%;
        margin: 40px 0;
        text-align: left;
        padding: 0 40px;
        
        h2 {
            margin-top: 0;
        }
            
        p {
            padding-bottom: 30px;
        }
        
        .btn {
            margin-top: auto;
        }
    }

    .map-image {
        flex: 50%;
        background-image: url("https://image.freepik.com/free-vector/worldmap-background-design_1127-2318.jpg");
        width: 100%;
        height: 381px;
        object-fit: cover;
        align-self: center;
    }
}

/* Demo */

.demo {
    height: 500px;
    max-width: 100vw;
    background-image: url('https://images.pexels.com/photos/6141122/pexels-photo-6141122.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
    }

    .inner-demo {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

        h2 {
            color: $color-light;
            span {
                font-weight: bold;
            }
        }

        .btn {
            width: 200px;
        }
    }
}

/* Footer */

footer {
    position: relative;
    max-width: 1140px;
    height: 500px;
    margin: 0 auto;

    .footer {
        display: flex;
        height: 100px;

        .reserved {
            flex: 3;
            height: 100px;
            align-items: left;

            p {
                margin: auto;
                color: $color-footer;
                display: inline-block;
                line-height: 100px;
                text-align: center;
            }

            i {
                font-size: 40px;
                color: $color-basket;
                padding: 30px 20px;
                display: inline-block;
            }
        }

        nav {
            flex: 7;

            ul {
                list-style-type: none;
                margin: 0;
                padding-left: 40%;
            
                li {
                    display: inline-block;
                    padding-left: 30px;

                    a {
                        text-decoration: none;
                        color: $color-icons-bg;
                        transition: $transition;
                        line-height: 100px;

                        &:hover {
                            color: $color-footer;
                        }
                    }
                }
            }
        }
    }

    .icon-background {
        margin: 0;
        position: absolute;
        opacity: 0.04;
        font-size: 800px;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

        
    


